.code{
    padding-top: 3%;
    background-color: $color-lightgrey;
    border-left: 5px solid $color-black;

    h2{
        font-family: $font;
        text-align: center;
        color: $color-black;
        font-size: 25px;
    }

    strong{
        font-size: 13px;
        font-family: $font;
    }

    pre{
        margin-top: 3%;
        text-align: left;
        font-size: 12px;

        .var{
            color: $color-blue;
        }

        .varName{
            color: $color-lightblue;
        }

        .get{
            color: $color-yellow;
        }

        .string{
            color: $color-brown;
        }
    }
}