$color-black: #000;
$color-softblack: #222;
$color-white: #fff;

$color-lightgrey: #e9e9e9;
$color-grey: #aaa;
$color-darkgrey: #888;

$color-blue: #0000ff;
$color-lightblue: #3399ff;
$color-yellow: #ffff00;
$color-brown: #993300;