.fields{
    color: $color-white;

    input{
        background-color: $color-darkgrey;
        border: none;
        height: 50px;
    }

    .spacer{
        width: 150px;
    }

    button{
        background: #555;
        width: 150px;
        border: none;
        color: $color-white;
        font-family: $font;
        margin: 0 auto;
    }

    #total{
        font-size: 40px;
        color: $color-white;
        font-family: $font;
        text-align: center;
        padding-top: 10%;
    }
}